@page "/"

<PageTitle>Desafio Umbler</PageTitle>
		
<div class="column align-center-itens">
  <div class="col-sm-10">
      <EditForm Model="@DomainHostName" OnValidSubmit="@HandleValidSubmit">
          <DataAnnotationsValidator />
          
          <div class="row aling-center pb-3">
              <h2>WhoIs</h2>
          </div>
          
          <div class="row form-group aling-center wrap">
                <div class="input-group-lg flex-grow-input pt-1">
                   <input @bind-value="DomainHostName.Name" maxlength="100" type="text" class="form-control"  placeholder="Digite o Domínio que deseja pesquisar">
                </div>

                <div class="aling-center pl-2 pt-1">
                    <button class="btn btn-primary" type="submit">
                        Pesquisar
                        <span class="icon icon-search icon-white mr-1"></span>
                    </button>
                </div>
          </div>

          <ValidationMessage For="() => DomainHostName.Name" />
          
            @if (MessageInvalidURL.Length > 0)
            {
                <p class="text-danger">@MessageInvalidURL</p>
            }

            @if (!IsLoading && DomainHost is not null)
            {
                <ul class="list-group">
                  <li class="list-group-item">
                      <b>Name:</b> @DomainHost.Name
                  </li>
                  <li class="list-group-item">
                      <b>IP:</b> @DomainHost.IP
                  </li>
                  <li class="list-group-item">
                      <b>Name Servers:</b>
                      <ul>
                      @foreach (var servername in @DomainHost.ServerNames)
                      {
                          <li>@servername</li>
                      }
                      </ul>
                  </li>
                  <li class="list-group-item">
                      <b>Hospedado Por:</b> @DomainHost.HostedAt
                  </li>
                </ul>
            }
        </EditForm>
    </div>
</div>

<style>
    .aling-center{
        display: flex;
        justify-content: center;
    }

    .flex-grow-input{
        flex-grow: 2
    }

    .wrap{
        flex-wrap: wrap
    }
</style>